--frames-per-chunk=20
--feature-type=mfcc
--mfcc-config=C:\Program Files\Think-A-Move, Ltd\SpearSDK\resources\SPEAR-WakeUp\conf\mfcc_hires.conf
--cmvn-config=C:\Program Files\Think-A-Move, Ltd\SpearSDK\resources\SPEAR-WakeUp\conf\online_cmvn.conf
--global-cmvn-stats=C:\Program Files\Think-A-Move, Ltd\SpearSDK\resources\SPEAR-WakeUp\global_cmvn.stats
--acoustic-scale=0.1
--wake-durations=7
--wakeup-threshold=1.9
--dur-restart=-1
--verbose=1
--use-priors=true
